Repository DebjotiMallick/todo-app: changes, and which Jenkins stages are due for each by the changed paths.
All: Build, Build Backend, Build Frontend

Build:
              parallel {
                  stage('Build Backend') {
                      when {
                          anyOf {
                              changeset "backend/**"
                          }
                      }
                      steps {
                          dir('backend') {
  ...

Build Backend:
                      steps {
                          dir('backend') {
                              sh '''
                                  echo "Building Backend Docker image..."
                                  docker build -t $BACKEND_TAG .
  ...

Build Frontend:
                      steps {
                          dir('frontend') {
                              sh '''
                                  echo "Building Frontend Docker image..."
                                  docker build --build-arg VITE_API_BASE_URL=/api -t $FRONTEND_TAG .
  ...

minor update
  backend/db.py
Due: Build, Build Backend

update jenkinsfile
  Jenkinsfile
Due: Build

minor update
  backend/routes.py
Due: Build, Build Backend

update
  backend/routes.py
Due: Build, Build Backend

update condition
  Jenkinsfile
Due: Build

Update image tags to 112081e [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

update both frontend and backend
  backend/routes.py
  frontend/README.md
Due: Build, Build Backend, Build Frontend

Update image tags to e998b6c [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to fae360f [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 28a290c [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to e5bc5bf [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 51a2c58 [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 924f366 [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 9023909 [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to f126f94 [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to d877abc [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 9834cdd [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 42a51bf [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 1d207af [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 1836084 [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 73793fd [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 948b0c0 [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 184d22f [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 43d810f [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 6fb5f66 [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

Update image tags to 70c2f69 [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

update
  Jenkinsfile
Due: Build

update both
  backend/routes.py
  frontend/README.md
Due: Build, Build Backend, Build Frontend

Update image tags to fe861d0 [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

update backend only
  backend/routes.py
Due: Build, Build Backend

Update image tags to 3a64fca [skip ci]
  k8s/backend.yaml
  k8s/frontend.yaml
Due: Build

update stages
  Jenkinsfile
Due: Build

Update image tags to 6d2fbd1
  k8s/backend.yaml
Due: Build

update frontend only
  frontend/index.html
Due: Build, Build Frontend

Update image tags to 2c340c4
  k8s/frontend.yaml
Due: Build

Path conditions:
  Build: (((((any of: **) or (not (any of: k8s/**))) or (not (any of: Jenkinsfile))) or (not (any of: README.md))) or (not (any of: docker-compose.yml))) or (not (any of: .gitignore))
  Build Backend: any of: backend/**
  Build Frontend: any of: frontend/**
